@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

:root, :root[data-theme='dark'] {
    --primary-color: #F0F0F0;
    
    --primary-bg-color: #121212;
    --secondary-color: #1A1A1A;
    --border-color: #333333;

    --title-color: #F0F0F0;
    --text-color: #9A9A9C;
    --link-color: #9A9A9C;
    --icon-color: #C7C8C9;
}

:root[data-theme='light'] {
    --primary-color: #121212;

    --primary-bg-color: #E9E9E9;
    --secondary-color: #E1E1E1;
    --border-color: #E1E1E1;

    --title-color: #121212;
    --text-color: #2C2C2C;
    --link-color: #2C2C2C;
    --icon-color: #4D4D4D;
}
html[data-theme ='light'] .logo {
    filter: invert(1);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    list-style: none;
}

body {
    background-color: var(--primary-bg-color);
    font-family: 'Inter', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2, h3 {
    font-family: 'League Spartan', sans-serif;
    text-transform: uppercase;
    color: var(--title-color);
}

h1 {
    font-size: 2.5rem;;
}

p {
    color: var(--text-color);
    line-height: 1.6;
    font-size: 1.25rem;
    text-align: justify;
} 

i {
    color: var(--icon-color);
}

a {
    text-decoration: none;
    color: var(--text-color);
}

a:hover {
    color: var(--primary-color);
    transition: color 0.3s ease;
    font-weight: 600;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    padding: 0.5rem 1rem;
    width: 100%;
}

.header__toggle {
    display: flex;
    justify-content: flex-end;
}

.header__brand .logo {
    width: 3.3rem;
    height: 3.3rem;
}

#theme-toggle {
    font-size: 1.5rem;
    cursor: pointer;
    transition: color 0.3s ease;
    color: var(--primary-color);
}

#theme-toggle:hover {
    color: var(--link-color);
}

.menu {
    display: flex;
    align-items: center;
    background: var(--primary-bg-color);
}

.menu__item {
    width: 100%;
}

.menu--mobile {
    width: 100vw;
    position: fixed;
    bottom: 0;
    justify-content: space-between;
    border-top: 1px solid var(--border-color);
}

.menu--mobile .menu__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.menu__link.active .menu__icon,
.menu__link.active .menu__text,
.menu__link:hover .menu__icon,
.menu__link:hover .menu__text{
    color: var(--primary-color);
    font-size: 700;
}


.menu__icon, .menu__text {
    color: var(--text-color);
    transition: color 0.3s ease;
}

.menu__icon {
    font-size: 1.5rem;
}

.menu__text {
    font-size: 0.75rem;
    text-transform: uppercase;

}

.header__nav {
    display: none;
}

.menu--principal {
    gap: 1rem;
}

.menu--social {
    gap: 0.5rem;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    background: transparent;
    border-radius: 3.125rem;
    padding: 0.875rem 1rem;
}

.btn span, .btn i {
   font-size: 1.25rem;
   text-transform: uppercase;
}

.btn--primary {
    border: 1px solid var(--primary-color);
}

.btn--primary span {
    color: var(--primary-color);
}

.btn--primary:hover {
    cursor: pointer;
    background: var(--text-color);
    color: var(--text-color);
    transition: all 0.3s ease;
}

main {
    padding: 2.5rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.main__content1 {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

footer p {
    text-align: center;
    font-size: .875rem;
    color: var(--text-color);
}

@media (min-width: 768px) {
    .header {
        position: fixed;
        border-bottom: 1px solid var(--border-color);
        padding: 1rem 6rem;
    }
    .nav--mobile {
        display: none;
    }

    .header__nav {
        display: flex;
    }

    .header__nav,
    .header__toggle {
        min-width: 30%;
    }
}

@media (min-width: 1400px) {
    .header {
        padding: 1rem 15rem;
    }
}